// 主题配置
$menuText:#bfcbd9; // 按钮文字颜色
$menuActiveText:#409EFF; // 按钮选文字颜色
$subMenuActiveText:#f4f4f5; // 子按按钮上级文字颜色

$themeBg:#81c1af; // 按钮背景颜色
$adminThemeBg:rgba(247,246,250,1); // 按钮背景颜色
$shoppingThemeBg:#F4F8F9; // 按钮背景颜色
$shoppingShadow:0px 2px 8px 0px rgba(0,0,0,0.1);
$shoppingRadius: 10px;
$shoppingWidth: 345px;;

$menuHover:#263445;// 按钮hover颜色

$subMenuBg:#1f2d3d;// 子按钮背景颜色
$subMenuHover:#001528;// 子按钮hover颜色

$sideBarWidth: 210px;// 侧边栏宽度

//  :export 是webpack的导出js模块特殊方式
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  themeBg: $themeBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
